body{
    font-family: Arial;
    text-align:center;
    background:#111;
    color:white;
    padding-top:100px;
}

button{
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}
